/* styles.css */
body {
    background: url('assets/home.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#play-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #87CEEB; /* Sky blue */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#play-button:hover {
    background-color: #4682B4; /* Darker sky blue */
}
